@model WebApplication1.Models.news

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "news", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit the Article</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control news-editor-input" } })
            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.author, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.author, new { htmlAttributes = new { @class = "form-control news-editor-input" } })
            @Html.ValidationMessageFor(model => model.author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pub_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pub_date, new { htmlAttributes = new { @class = "dateTimePicker form-control news-editor-input" } })
            @Html.ValidationMessageFor(model => model.pub_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.article_summary, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.article_summary, 5, 500, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.article_summary, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.article_content, htmlAttributes: new { @class = "control-label col-md-5" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.article_content, 25, 500, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.article_content, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="container" id="edit-row-photos">
        <label>Remove an Exhisting Photo</label>
        <div class="row">
            @Html.Action("EditPhoto", "news", new { @id = Model.id })
        </div>
    </div>

    @Html.Action("DisplayFileUpload", "news", new { @id = Model.id })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
